

.montserrat{
	font-family: 'Montserrat', sans-serif;
}

.typo {
    /* font-family: "Kozuka Gothic Pro EL", "DFPKaiSho-Md", "Georgia" ; */
    font-family: "ARS-Maquette-Web-Pro-1" ;
}


.extlink{
	display:block;
	clear:both;
	padding:10px 20px;
	background-color:rgba(255, 255, 255, .25);
	border-radius: 0.25rem;
}
.txtR .extlink{
	float:right;
}
.txtL .extlink{
	float:left;
}


.prev_section a, .next_section a{
	opacity:.4
}

.prev_section a:hover, .next_section a:hover{
	opacity:1
}

.marked h2{
	font-size:1.2em;
}


.cover{
	background-size:cover !important ;
	background-position-x:50%;
	background-position-y:50%;
	background-repeat: no-repeat !important;
}

html[lang=en] a.en{
	pointer-events: none;
	opacity:.3;
}
html[lang=fr] a.fr{
	pointer-events: none;
	opacity:.3;
}
html[lang=ko] a.kr{
	pointer-events: none;
	opacity:.3;
}

.disabled, a.transp{
	pointer-events: none;
	opacity:.3;
}
a.justtransp{
	opacity:.3;
}

.lr_arrows a.justtransp{
	cursor:default;
}

.gridded{

	background:url(./skin/grid.png?132) repeat center;
}

.zoneall{
	/* position:absolute; */
	/* top:35px; */
	/* bottom:35px; */
	/* left:0;
	right:0;
	width:100%;
	height:100%; */
}


.boxsized{
	box-sizing:border-box;
}


.zoneallinside{
	position:relative;
	/* width:320px; */
	/* height:100%; */
	margin:0 auto;
	z-index: 3000;
}

.nowactive{
	border:1px solid #FFF;
	border-width:1px 0;
}


.navzoneinside{
	margin-top:2em !important;
	margin-bottom:.5em !important;
}

.project_panes{
	margin-top:0 ;
	top:0px;
}

.project_pane .lr_arrows{
	display:none ;
}
.project_pane.enabled .lr_arrows{
	display:block ;
}



.topped{
	top:100px ;
}
.bottommed{
	bottom:100px ;
}
.padded{
	padding:100px 0;
}
.heighted{
	height:100px ;
}
.marged{
	margin-top:100px ;
}

@media only screen and (max-height: 430px) and (orientation: landscape) {
  
	.topped{
		top:0 ;
	}
	.bottommed{
		bottom:0 ;
	}
	.padded{
		padding:0 0;
	}
	.heighted{
		height:0 ;
	}
	.marged{
		margin-top:0 ;
	}

	.back_project{top:30px !important;}
	.close_project{display:none;}
	.project_ud_arrows{display:block !important}
}

.project_pane{left:50%;margin-left:-180px;}


/* > 1024  */ 
 @media screen and (min-width: 768px) {
	.navzoneinside{
		margin-top:2em !important;
		margin-bottom:2em !important;
	}

	.project_pane{left:0%;margin-left:0px;}
	
	.project_panes{
		
		top:50% ;
	}
	.project_pane{
		margin-top:-101px ;
	}

	

	.section_home.navzone ul.sections{
		padding-left:73px ;
		margin-top:-50px !important ;
		padding-top:0px !important ;
	}

	
	.section_home .nowactive{
		border-width:0px !important ;
	}
  
}

.project_pane{
	cursor:pointer
}

.scrollingzone::-webkit-scrollbar {
  display: none;
}

.limited{
	max-width:300px;
	float:right;
	clear:both;
}


.section_home .content{
	border-width:0px !important ;
}
.section_home.navzone ul.sections{
	padding-top:40px ;
}

.margin1{
	margin:1px;
}

.whitetranspTXT{
	color:rgba(255, 255, 255, .75)
}

.whitetransp{
	border-color:rgba(255, 255, 255, .25);
	/* border-width:.1em !important; */
}
.whitetranspBG{
	background-color:rgba(255, 255, 255, .25)
}
.blacktranspBG{
	background-color:rgba(13, 13, 13, .94)
}
.bordertop{
	background:#2A2A2A;
}
.borderbottom{
	background:#2A2A2A;
}

.zonetop{
	height:50%;
	/* position:absolute; */
	bottom:50%;
	left:0;
	right:0;
}

.item:focus .arrowindic, .item:hover .arrowindic{
	display:block !important;
	color:#FFF !important;
	margin-left:-3px;
}

.txtR .item:focus .arrowindic, .txtR .item:hover .arrowindic{
	margin-right:-3px;
}

.close:focus .closebtn, .close:hover .closebtn{
	display:none
}
.close:focus .upwardsbtn, .close:hover .upwardsbtn{
	display:block !important;
}

.zonecenter{
	/* height:50%; */
	/* position:absolute; */
	top:25%;
	left:0;
	right:0;
}

.boxes{
	height:30px;
	width:100%;
	position:absolute;
	top:50%;
	left:0;
	margin-top:-40px;
}
.boxesinside{
	line-height:100%;
	height:100%;
	width:12000px;
	position:relative;
}
.box{
	
	font-size:24px;
	margin-top:1px;
	margin-left:1px;
	margin-right:1px;
}

.item{
	position:relative;
	padding:0 10px;
	margin-top:1px;
	margin-left:1px;
	margin-right:1px;
}


.zonecenter  .pannel{
	position:relative;
	height:200px;
	font-size:24px;
	margin-top:1px;
	margin-left:1px;
	margin-right:1px;
}

input:autofill,
input:autofill:hover,
input:autofill:focus {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #ffffff;
	transition: background-color 5000s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px #23232329;
}


.inputs{
	background:transparent;
	border:0px solid #FFF !important;
	
	font-family:inherit;
	color:inherit;
	outline:none;
}
.inputs::placeholder {
  color:rgba(255, 255, 255, .4);
}

.typox{
	font-family:Arial;
	font-weight:bold;
	font-size:12px;
}


/* YT Videos Embedding */

.ytholder{
	aspect-ratio:16/9;
	/* pointer-events:none; */

}
.ytholder iframe{
	height:100%;
	width:100%;
	width:100%;
	position:absolute;
	margin-left:0%; /* */
}
.ytholder iframe body{
	position:relative;
	margin-left:0%;
	width:100%;
	font-size:50%;
}
.ytholder iframe .ytp-large-play-button{
	visibility:hidden !important;
}

.yt-embed-overlay{
	background:#333 !important;
}




.loading {
 --speed-of-animation: 0.9s;
 --gap: 6px;
 --first-color: rgba(250, 215, 215, 0);
 --second-color: rgba(250, 215, 215, .3);
 --third-color: rgba(250, 215, 215, .7);
 --fourth-color: rgba(250, 215, 215, .7);
 --fifth-color: rgba(250, 215, 215, .3);
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100px;
 gap: 6px;
 height: 100px;
}

.loading span {
 width: 4px;
 height: 50px;
 background: var(--first-color);
 animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
 background: var(--second-color);
 animation-delay: -0.8s;
}

.loading span:nth-child(3) {
 background: var(--third-color);
 animation-delay: -0.7s;
}

.loading span:nth-child(4) {
 background: var(--fourth-color);
 animation-delay: -0.6s;
}

.loading span:nth-child(5) {
 background: var(--fifth-color);
 animation-delay: -0.5s;
}

@keyframes scale {
 0%, 40%, 100% {
  transform: scaleY(0.05);
 }

 20% {
  transform: scaleY(1);
 }
}