

html, body		{
				-webkit-text-size-adjust:100%;
				}


body			{
				color:#F3F3F3;
				text-align:center;
}

a				{
				color:inherit;
				text-decoration:none;
				outline:none !important;
				}



a:hover, 
a:focus, 
.active a		{color:inherit !important}
.inactive 		{color:#444 !important}
.inactive:hover , 
.inactive:focus	{color:inherit !important}
.pentone , 
.pentone a		{color:#A40133}
.pentone2 , 
.pentone2 a		{color:#912738}
.pentone3 , 
.pentone3 a		{color:#ed014a;}


.error			{color:#A40133;}
.black			{color:#000000;}
.darkest		{color:#010101;}
.darker			{color:#121212;}
.ant			{color:#333333;}
.dark			{color:#434343;}
.shady			{color:#666666;}
.faded			{color:#363636;}
.foggy			{color:#BBBBBB;}
.light			{color:#CDCDCD;}
.lighter		{color:#E4E4D8;}
.lightest		{color:#F5F5F5;}
.white			{color:#FFFFFF;}

/* backgrounds */
.blackBG		{background-color:#000;}
.whiteBG		{background-color:#FFF;}
.lightBG, 
.lightgrayBG, 
.lightgrayBG	{background-color:#CCC;}
.grayBG, 
.greyBG			{background-color:#999;}
.darkgrayBG, 
.darkgreyBG		{background-color:#666;}
.anthraciteBG	{background-color:#333;}
.antBG			{background-color:#222;}
.darkBG			{background-color:#111;}
.darkestBG		{background-color:#090909;}
.anthraxBG		{background-color:#F7F7F7;}

/* Z-INDEX */

.zi0{z-index:0}
.zi1{z-index:1}.zi2{z-index:2}.zi3{z-index:3}.zi4{z-index:4}.zi5{z-index:5}
.zi6{z-index:6}.zi7{z-index:7}.zi8{z-index:8}.zi9{z-index:9}.zi10{z-index:10}
.zi11{z-index:11}.zi12{z-index:12}.zi13{z-index:13}.zi14{z-index:14}.zi15{z-index:15}
.zi16{z-index:16}.zi17{z-index:17}.zi18{z-index:18}.zi19{z-index:19}.zi20{z-index:20}
.zi21{z-index:21}.zi22{z-index:22}.zi23{z-index:23}.zi24{z-index:24}.zi25{z-index:25}
.zi26{z-index:26}.zi27{z-index:27}.zi28{z-index:28}.zi29{z-index:29}.zi30{z-index:30}
.zi31{z-index:31}.zi32{z-index:32}.zi33{z-index:33}.zi34{z-index:34}.zi35{z-index:35}
.zi36{z-index:36}.zi37{z-index:37}.zi38{z-index:38}.zi39{z-index:39}.zi40{z-index:40}
.zi41{z-index:41}.zi42{z-index:42}.zi43{z-index:43}.zi44{z-index:44}.zi45{z-index:45}
.zi46{z-index:46}.zi47{z-index:47}.zi48{z-index:48}.zi49{z-index:49}.zi50{z-index:50}
.zi51{z-index:51}.zi52{z-index:52}.zi53{z-index:53}.zi54{z-index:54}.zi55{z-index:55}
.zi56{z-index:56}.zi57{z-index:57}.zi58{z-index:58}.zi59{z-index:59}.zi60{z-index:60}
.zi61{z-index:61}.zi62{z-index:62}.zi63{z-index:63}.zi64{z-index:64}.zi65{z-index:65}
.zi66{z-index:66}.zi67{z-index:67}.zi68{z-index:68}.zi69{z-index:69}.zi70{z-index:70}
.zi71{z-index:71}.zi72{z-index:72}.zi73{z-index:73}.zi74{z-index:74}.zi75{z-index:75}
.zi76{z-index:76}.zi77{z-index:77}.zi78{z-index:78}.zi79{z-index:79}.zi80{z-index:80}
.zi81{z-index:81}.zi82{z-index:82}.zi83{z-index:83}.zi84{z-index:84}.zi85{z-index:85}
.zi86{z-index:86}.zi87{z-index:87}.zi88{z-index:88}.zi89{z-index:89}.zi90{z-index:90}
.zi91{z-index:91}.zi92{z-index:92}.zi93{z-index:93}.zi94{z-index:94}.zi95{z-index:95}
.zi96{z-index:96}.zi97{z-index:97}.zi98{z-index:98}.zi99{z-index:99}.zi100{z-index:100}


/* LETTER-PACING */

.lsXXXXXXXXXSm 				{letter-spacing:-0.250em}
.lsXXXXXXXXSm 				{letter-spacing:-0.225em}
.lsXXXXXXXSm 				{letter-spacing:-0.200em}
.lsXXXXXXSm 					{letter-spacing:-0.175em}
.lsXXXXXSm 					{letter-spacing:-0.150em}
.lsXXXXSm 					{letter-spacing:-0.125em}
.lsXXXSm 					{letter-spacing:-0.100em}
.lsXXSm 						{letter-spacing:-0.075em}
.lsXSm 						{letter-spacing:-0.050em}
.lsSm 						{letter-spacing:-0.025em}
.lsM, .lsR 					{letter-spacing:0.000em}
.lsLg 						{letter-spacing:0.025em}
.lsXLg 						{letter-spacing:0.050em}
.lsXXLg 						{letter-spacing:0.075em}
.lsXXXLg 					{letter-spacing:0.100em}
.lsXXXXLg 					{letter-spacing:0.125em}
.lsXXXXXLg 					{letter-spacing:0.150em}
.lsXXXXXXLg 					{letter-spacing:0.175em}
.lsXXXXXXXLg 				{letter-spacing:0.200em}
.lsXXXXXXXXLg 				{letter-spacing:0.225em}
.lsXXXXXXXXXLg				{letter-spacing:0.250em}

.ls00, .lsNone				{letter-spacing:0em}


/* TRANSFORMS */

.lowercase 					{text-transform:lowercase}
.uppercase 					{text-transform:uppercase}
.italic 						{font-style:italic}
.normal 						{font-style:normal}


/* FONT-WEIGHT */

.fw9, .boldest				{font-weight:900}
.fw8, .bolder				{font-weight:800}
.fw7						{font-weight:700}
.fw6, .bold					{font-weight:600}
.fw5						{font-weight:500}
.fw4, .regular				{font-weight:400}
.fw3, .thin					{font-weight:300}
.fw2, .thiner				{font-weight:200}
.fw1, .thinest				{font-weight:100}


/* LINE_HEIGHT */

.lhXXXSm 					{line-height:0.125em}
.lhXXSm 						{line-height:0.25em}
.lhXSm						{line-height:0.5em}
.lhSm						{line-height:0.75em}
.lhM, .lhR					{line-height:1.0em}
.lhLg 						{line-height:1.25em}
.lhXLg 						{line-height:1.5em}
.lhXXLg 					{line-height:1.75em}
.lhXXXLg 					{line-height:2.0em}
.lhXXXXLg 					{line-height:2.25em}
.lhXXXXXLg 					{line-height:2.5em}

.txthXXXSm 					{height:0.125em}
.txthXXSm 					{height:0.25em}
.txthXSm					{height:0.5em}
.txthSm						{height:0.75em}
.txthR 						{height:1.0em}
.txthM						{height:1.0em}
.txthLg 					{height:1.25em}
.txthXLg 					{height:1.5em}
.txthXXLg 					{height:1.75em}
.txthXXXLg 					{height:2.0em}
.txthXXXXLg 				{height:2.25em}
.txthXXXXXLg 				{height:2.5em}

/* FONT-SIZE */

.sizeXXXSm 					{font-size:0.125em}
.sizeXXSm 					{font-size:0.25em}
.sizeXSm					{font-size:0.5em}
.sizeSm						{font-size:0.75em}
.sizeR						{font-size:1.0em}
.sizeM						{font-size:1.0em}
.sizeLg						{font-size:1.25em}
.sizeXLg					{font-size:1.5em}
.sizeXXLg					{font-size:1.75em}
.sizeXXXLg					{font-size:2.0em}
.sizeXXXXLg					{font-size:2.25em}
.sizeXXXXXLg				{font-size:2.5em}

/*		MARGIN		*/

.marXXXSm					{margin:0.125em !important}
.marXXSm					{margin:0.25em !important}
.marXSm						{margin:0.5em !important}
.marSm						{margin:0.75em !important}
.marR						{margin:1.0em !important}
.mar						{margin:1.0em !important}
.marM						{margin:1.0em !important}
.marLg						{margin:1.25em !important}
.marXLg						{margin:1.5em !important}
.marXXLg					{margin:1.75em !important}
.marXXXLg					{margin:2.0em !important}
.marXXXXLg					{margin:2.25em !important}
.marXXXXXLg					{margin:2.5em !important}

.VmarXXXSm, .TmarXXXSm		{margin-top:0.125em !important}
.VmarXXXSm, .BmarXXXSm		{margin-bottom:0.125em !important}
.HmarXXXSm, .LmarXXXSm		{margin-left:0.125em !important}
.HmarXXXSm, .RmarXXXSm		{margin-right:0.125em !important}
.VmarXXSm, .TmarXXSm		{margin-top:0.25em !important}
.VmarXXSm, .BmarXXSm		{margin-bottom:0.25em !important}
.HmarXXSm, .LmarXXSm		{margin-left:0.25em !important}
.HmarXXSm, .RmarXXSm		{margin-right:0.25em !important}
.VmarXSm, .TmarXSm			{margin-top:0.5em !important}
.VmarXSm, .BmarXSm			{margin-bottom:0.5em !important}
.HmarXSm, .LmarXSm			{margin-left:0.5em !important}
.HmarXSm, .RmarXSm			{margin-right:0.5em !important}
.VmarSm, .TmarSm			{margin-top:0.75em !important}
.VmarSm, .BmarSm			{margin-bottom:0.75em !important}
.HmarSm, .LmarSm			{margin-left:0.75em !important}
.HmarSm, .RmarSm			{margin-right:0.75em !important}
.VmarR, .TmarR				{margin-top:1.0em !important}
.VmarR, .BmarR				{margin-bottom:1.0em !important}
.HmarR, .LmarR				{margin-left:1.0em !important}
.HmarR, .RmarR				{margin-right:1.0em !important}
.Vmar, .Tmar				{margin-top:1.0em !important}
.Vmar, .Bmar				{margin-bottom:1.0em !important}
.Hmar, .Lmar				{margin-left:1.0em !important}
.Hmar, .Rmar				{margin-right:1.0em !important}
.VmarM, .TmarM				{margin-top:1.0em !important}
.VmarM, .BmarM				{margin-bottom:1.0em !important}
.HmarM, .LmarM				{margin-left:1.0em !important}
.HmarM, .RmarM				{margin-right:1.0em !important}
.VmarLg, .TmarLg			{margin-top:1.25em !important}
.VmarLg, .BmarLg			{margin-bottom:1.25em !important}
.HmarLg, .LmarLg			{margin-left:1.25em !important}
.HmarLg, .RmarLg			{margin-right:1.25em !important}
.VmarXLg, .TmarXLg			{margin-top:1.5em !important}
.VmarXLg, .BmarXLg			{margin-bottom:1.5em !important}
.HmarXLg, .LmarXLg			{margin-left:1.5em !important}
.HmarXLg, .RmarXLg			{margin-right:1.5em !important}
.VmarXXLg, .TmarXXLg		{margin-top:1.75em !important}
.VmarXXLg, .BmarXXLg		{margin-bottom:1.75em !important}
.HmarXXLg, .LmarXXLg		{margin-left:1.75em !important}
.HmarXXLg, .RmarXXLg		{margin-right:1.75em !important}
.VmarXXXLg, .TmarXXXLg		{margin-top:2.0em !important}
.VmarXXXLg, .BmarXXXLg		{margin-bottom:2.0em !important}
.HmarXXXLg, .LmarXXXLg		{margin-left:2.0em !important}
.HmarXXXLg, .RmarXXXLg		{margin-right:2.0em !important}
.VmarXXXXLg, .TmarXXXXLg	{margin-top:2.25em !important}
.VmarXXXXLg, .BmarXXXXLg	{margin-bottom:2.25em !important}
.HmarXXXXLg, .LmarXXXXLg	{margin-left:2.25em !important}
.HmarXXXXLg, .RmarXXXXLg	{margin-right:2.25em !important}
.VmarXXXXXLg, .TmarXXXXXLg	{margin-top:2.5em !important}
.VmarXXXXXLg, .BmarXXXXXLg	{margin-bottom:2.5em !important}
.HmarXXXXXLg, .LmarXXXXXLg	{margin-left:2.5em !important}
.HmarXXXXXLg, .RmarXXXXXLg	{margin-right:2.5em !important}


.Vmar0, .Tmar0, .mar0		{margin-top:0 !important}
.Vmar0, .Bmar0, .mar0		{margin-bottom:0 !important}
.Hmar0, .Lmar0, .mar0		{margin-left:0 !important}
.Hmar0, .Rmar0, .mar0		{margin-right:0 !important}

.marAuto					{margin:0 auto !important}

/* PADDING */

.padXXXSm					{padding:0.125em !important}
.padXXSm					{padding:0.25em !important}
.padXSm						{padding:0.5em !important}
.padSm						{padding:0.75em !important}
.padR						{padding:1.0em !important}
.pad						{padding:1.0em !important}
.padM						{padding:1.0em !important}
.padLg						{padding:1.25em !important}
.padXLg						{padding:1.5em !important}
.padXXLg					{padding:1.75em !important}
.padXXXLg					{padding:2.0em !important}
.padXXXXLg					{padding:2.25em !important}
.padXXXXXLg					{padding:2.5em !important}

.VpadXXXSm, .TpadXXXSm		{padding-top:0.125em !important}
.VpadXXXSm, .BpadXXXSm		{padding-bottom:0.125em !important}
.HpadXXXSm, .LpadXXXSm		{padding-left:0.125em !important}
.HpadXXXSm, .RpadXXXSm		{padding-right:0.125em !important}
.VpadXXSm, .TpadXXSm		{padding-top:0.25em !important}
.VpadXXSm, .BpadXXSm		{padding-bottom:0.25em !important}
.HpadXXSm, .LpadXXSm		{padding-left:0.25em !important}
.HpadXXSm, .RpadXXSm		{padding-right:0.25em !important}
.VpadXSm, .TpadXSm			{padding-top:0.5em !important}
.VpadXSm, .BpadXSm			{padding-bottom:0.5em !important}
.HpadXSm, .LpadXSm			{padding-left:0.5em !important}
.HpadXSm, .RpadXSm			{padding-right:0.5em !important}
.VpadSm, .TpadSm			{padding-top:0.75em !important}
.VpadSm, .BpadSm			{padding-bottom:0.75em !important}
.HpadSm, .LpadSm			{padding-left:0.75em !important}
.HpadSm, .RpadSm			{padding-right:0.75em !important}
.VpadR, .TpadR				{padding-top:1.0em !important}
.VpadR, .BpadR				{padding-bottom:1.0em !important}
.HpadR, .LpadR				{padding-left:1.0em !important}
.HpadR, .RpadR				{padding-right:1.0em !important}
.Vpad, .Tpad				{padding-top:1.0em !important}
.Vpad, .Bpad				{padding-bottom:1.0em !important}
.Hpad, .Lpad				{padding-left:1.0em !important}
.Hpad, .Rpad				{padding-right:1.0em !important}
.VpadM, .TpadM				{padding-top:1.0em !important}
.VpadM, .BpadM				{padding-bottom:1.0em !important}
.HpadM, .LpadM				{padding-left:1.0em !important}
.HpadM, .RpadM				{padding-right:1.0em !important}
.VpadLg, .TpadLg			{padding-top:1.25em !important}
.VpadLg, .BpadLg			{padding-bottom:1.25em !important}
.HpadLg, .LpadLg			{padding-left:1.25em !important}
.HpadLg, .RpadLg			{padding-right:1.25em !important}
.VpadXLg, .TpadXLg			{padding-top:1.5em !important}
.VpadXLg, .BpadXLg			{padding-bottom:1.5em !important}
.HpadXLg, .LpadXLg			{padding-left:1.5em !important}
.HpadXLg, .RpadXLg			{padding-right:1.5em !important}
.VpadXXLg, .TpadXXLg		{padding-top:1.75em !important}
.VpadXXLg, .BpadXXLg		{padding-bottom:1.75em !important}
.HpadXXLg, .LpadXXLg		{padding-left:1.75em !important}
.HpadXXLg, .RpadXXLg		{padding-right:1.75em !important}
.VpadXXXLg, .TpadXXXLg		{padding-top:2.0em !important}
.VpadXXXLg, .BpadXXXLg		{padding-bottom:2.0em !important}
.HpadXXXLg, .LpadXXXLg		{padding-left:2.0em !important}
.HpadXXXLg, .RpadXXXLg		{padding-right:2.0em !important}
.VpadXXXXLg, .TpadXXXXLg	{padding-top:2.25em !important}
.VpadXXXXLg, .BpadXXXXLg	{padding-bottom:2.25em !important}
.HpadXXXXLg, .LpadXXXXLg	{padding-left:2.25em !important}
.HpadXXXXLg, .RpadXXXXLg	{padding-right:2.25em !important}
.VpadXXXXXLg, .TpadXXXXXLg	{padding-top:2.5em !important}
.VpadXXXXXLg, .BpadXXXXXLg	{padding-bottom:2.5em !important}
.HpadXXXXXLg, .LpadXXXXXLg	{padding-left:2.2em !important}
.HpadXXXXXLg, .RpadXXXXXLg	{padding-right:2.5em !important}

.Vpad0, .Tpad0, .pad0		{padding-top:0 !important}
.Vpad0, .Bpad0, .pad0		{padding-bottom:0 !important}
.Hpad0, .Lpad0, .pad0		{padding-left:0 !important}
.Hpad0, .Rpad0, .pad0		{padding-right:0 !important}

/* BORDER */

.bdXXXSm					{border-width:0.125em !important}
.bdXXSm						{border-width:0.25em !important}
.bdXSm						{border-width:0.5em !important}
.bdSm						{border-width:0.75em !important}
.bdR						{border-width:1.0em !important}
.bd							{border-width:1.0em !important}
.bdM						{border-width:1.0em !important}
.bdLg						{border-width:1.25em !important}
.bdXLg						{border-width:1.5em !important}
.bdXXLg						{border-width:1.75em !important}
.bdXXXLg					{border-width:2.0em !important}
.bdXXXXLg					{border-width:2.25em !important}

.bd1						{border-width:1px !important}
.Tbd1, .Vbd1				{border-top-width:1px !important}
.Bbd1, .Vbd1				{border-bottom-width:1px !important}
.Lbd1, .Hbd1				{border-left-width:1px !important}
.Rbd1, .Hbd1				{border-right-width:1px !important}


.VbdXXXSm, .TbdXXXSm		{border-top-width:0.125em !important}
.VbdXXXSm, .BbdXXXSm		{border-bottom-width:0.125em !important}
.HbdXXXSm, .LbdXXXSm		{border-left-width:0.125em !important}
.HbdXXXSm, .RbdXXXSm		{border-right-width:0.125em !important}
.VbdXXSm, .TbdXXSm			{border-top-width:0.25em !important}
.VbdXXSm, .BbdXXSm			{border-bottom-width:0.25em !important}
.HbdXXSm, .LbdXXSm			{border-left-width:0.25em !important}
.HbdXXSm, .RbdXXSm			{border-right-width:0.25em !important}
.VbdXSm, .TbdXSm			{border-top-width:0.5em !important}
.VbdXSm, .BbdXSm			{border-bottom-width:0.5em !important}
.HbdXSm, .LbdXSm			{border-left-width:0.5em !important}
.HbdXSm, .RbdXSm			{border-right-width:0.5em !important}
.VbdSm, .TbdSm				{border-top-width:0.75em !important}
.VbdSm, .BbdSm				{border-bottom-width:0.75em !important}
.HbdSm, .LbdSm				{border-left-width:0.75em !important}
.HbdSm, .RbdSm				{border-right-width:0.75em !important}
.VbdR, .TbdR				{border-top-width:1.0em !important}
.VbdR, .BbdR				{border-bottom-width:1.0em !important}
.HbdR, .LbdR				{border-left-width:1.0em !important}
.HbdR, .RbdR				{border-right-width:1.0em !important}
.Vbd, .Tbd					{border-top-width:1.0em !important}
.Vbd, .Bbd					{border-bottom-width:1.0em !important}
.Hbd, .Lbd					{border-left-width:1.0em !important}
.Hbd, .Rbd					{border-right-width:1.0em !important}
.VbdM, .TbdM				{border-top-width:1.0em !important}
.VbdM, .BbdM				{border-bottom-width:1.0em !important}
.HbdM, .LbdM				{border-left-width:1.0em !important}
.HbdM, .RbdM				{border-right-width:1.0em !important}
.VbdLg, .TbdLg				{border-top-width:1.25em !important}
.VbdLg, .BbdLg				{border-bottom-width:1.25em !important}
.HbdLg, .LbdLg				{border-left-width:1.25em !important}
.HbdLg, .RbdLg				{border-right-width:1.25em !important}
.VbdXLg, .TbdXLg			{border-top-width:1.5em !important}
.VbdXLg, .BbdXLg			{border-bottom-width:1.5em !important}
.HbdXLg, .LbdXLg			{border-left-width:1.5em !important}
.HbdXLg, .RbdXLg			{border-right-width:1.5em !important}
.VbdXXLg, .TbdXXLg			{border-top-width:1.75em !important}
.VbdXXLg, .BbdXXLg			{border-bottom-width:1.75em !important}
.HbdXXLg, .LbdXXLg			{border-left-width:1.75em !important}
.HbdXXLg, .RbdXXLg			{border-right-width:1.75em !important}
.VbdXXXLg, .TbdXXXLg		{border-top-width:2.0em !important}
.VbdXXXLg, .BbdXXXLg		{border-bottom-width:2.0em !important}
.HbdXXXLg, .LbdXXXLg		{border-left-width:2.0em !important}
.HbdXXXLg, .RbdXXXLg		{border-right-width:2.0em !important}
.VbdXXXXLg, .TbdXXXXLg		{border-top-width:2.25em !important}
.VbdXXXXLg, .BbdXXXXLg		{border-bottom-width:2.25em !important}
.HbdXXXXLg, .LbdXXXXLg		{border-left-width:2.25em !important}
.HbdXXXXLg, .RbdXXXXLg		{border-right-width:2.25em !important}

.Vbd0, .Tbd0, .bd0			{border-top-width:0 !important}
.Vbd0, .Bbd0, .bd0			{border-bottom-width:0 !important}
.Hbd0, .Lbd0, .bd0			{border-left-width:0 !important}
.Hbd0, .Rbd0, .bd0			{border-right-width:0 !important}


/* TOP HACKS */
.top-10{top:-10px}
.top-9{top:-9px}
.top-8{top:-8px}
.top-7{top:-7px}
.top-6{top:-6px}
.top-5{top:-5px}
.top-4{top:-4px}
.top-3{top:-3px}
.top-2{top:-2px}
.top-1{top:-1px}
.top0{top:0px}
.top1{top:1px}
.top2{top:2px}
.top3{top:3px}
.top4{top:4px}
.top5{top:5px}
.top6{top:6px}
.top7{top:7px}
.top8{top:8px}
.top9{top:9px}
.top10{top:10px}

.right-10{right:-10px}
.right-9{right:-9px}
.right-8{right:-8px}
.right-7{right:-7px}
.right-6{right:-6px}
.right-5{right:-5px}
.right-4{right:-4px}
.right-3{right:-3px}
.right-2{right:-2px}
.right-1{right:-1px}
.right0{right:0px}
.right1{right:1px}
.right2{right:2px}
.right3{right:3px}
.right4{right:4px}
.right5{right:5px}
.right6{right:6px}
.right7{right:7px}
.right8{right:8px}
.right9{right:9px}
.right10{right:10px}

.bottom-10{bottom:-10px}
.bottom-9{bottom:-9px}
.bottom-8{bottom:-8px}
.bottom-7{bottom:-7px}
.bottom-6{bottom:-6px}
.bottom-5{bottom:-5px}
.bottom-4{bottom:-4px}
.bottom-3{bottom:-3px}
.bottom-2{bottom:-2px}
.bottom-1{bottom:-1px}
.bottom0{bottom:0px}
.bottom1{bottom:1px}
.bottom2{bottom:2px}
.bottom3{bottom:3px}
.bottom4{bottom:4px}
.bottom5{bottom:5px}
.bottom6{bottom:6px}
.bottom7{bottom:7px}
.bottom8{bottom:8px}
.bottom9{bottom:9px}
.bottom10{bottom:10px}

.left-10{left:-10px}
.left-9{left:-9px}
.left-8{left:-8px}
.left-7{left:-7px}
.left-6{left:-6px}
.left-5{left:-5px}
.left-4{left:-4px}
.left-3{left:-3px}
.left-2{left:-2px}
.left-1{left:-1px}
.left0{left:0px}
.left1{left:1px}
.left2{left:2px}
.left3{left:3px}
.left4{left:4px}
.left5{left:5px}
.left6{left:6px}
.left7{left:7px}
.left8{left:8px}
.left9{left:9px}
.left10{left:10px}

/* POSITIONING */
.sta{position:static !important}
.rel{position:relative !important}
.abs{position:absolute !important}
.fix{position:fixed !important}

/* DISPLAY */
.block{display:block !important}
.inlineblock{display:inline-block}
.inline{display:inline !important}
.table{display:table !important}
.tablecell{display:table-cell !important}
.cell{display:cell !important}
.none{display:none !important}


/* FLOW */
/* .context{overflow:hidden;_overflow:visible;zoom:1} */
.flowscroll{overflow:scroll;overflow-x:hidden}
.flowhidden{overflow:hidden;}
.flowvisible{overflow:visible;}
.flowauto{overflow:auto;}
.flowXscroll{overflow-x:scroll;}
.flowYscroll{overflow-y:scroll;}
.flowXauto{overflow-x:auto;}
.flowYauto{overflow-y:auto;}
.flowXvisible{overflow-x:visible;}
.flowYvisible{overflow-y:visible;}
.flowXhidden{overflow-x:hidden;}
.flowYhidden{overflow-y:hidden;}

/* 

END OF CORE HELPERS

 */
 
hr{
	border:0px solid transparent;
	height:1px;
} 
 
 

.noselect, .unselectable{
	user-select: none;
}

.clickable{
	cursor:url('../img/pointer.png'), -moz-zoom-in;
}

.movable, .movable *{
	cursor:url('../img/move.png'), -moz-zoom-in;
}
.movableleft, .movableleft *{
	cursor:url('../img/moveleft.png'), -moz-zoom-in;
}

.movableright, .movableright *{
	cursor:url('../img/moveright.png'), -moz-zoom-in;
}
.movableup, .movableup *{
	cursor:url('../img/moveup.png'), -moz-zoom-in;
}

.movabledown, .movabledown *{
	cursor:url('../img/movedown.png'), -moz-zoom-in;
}
.unclickable{
	cursor:default;
}

/* DISPLAY TABLE VALIGN */

.dispTable{
	display:table;
	height:100%;
	width:100%;
}

.dispCell{
	display:table-cell;
	position:relative;
}

.MSIE .dispTable{
	//position:relative;
	//height:auto !important;
	//top:50%;
	zoom:1;
}


.MSIE .dispCell{
	//display:table-cell;
	//position:relative;
	//top:-50%;
	zoom:1;
}